body, html {
    background-color: #08088A;
    height: 100%;
    min-height: 100%;
    width: 100%;
    display: flex;
}

#clock {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: "Bradley Hand", monospace;
    color: white;
    font-size: 100px;
    justify-content: center;
    align-content: ;
}